@tailwind base;
@tailwind components;
@tailwind utilities;

.circular-image {
    width: 80px; /* Set a width */
    height: 80px; /* Set a height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  tr{
    text-align: center;
  }